<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
 .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
<!--
span.cls_002{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
</head>
<body class="container">
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:195.75px;top:17.00px" class="cls_002"><span class="cls_002">SOLUCAO OCUPACIONAL CLINICA MEDICA LTDA</span></div>
<div style="position:absolute;left:183.00px;top:30.50px" class="cls_002"><span class="cls_002">CNPJ: 19.274.495/0001-75 - R DOUTOR JOAO DE DEUS</span></div>
<div style="position:absolute;left:216.00px;top:42.50px" class="cls_002"><span class="cls_002">FORTALEZA  (CE) - TEL.: (85)3257-9257</span></div>
<div style="position:absolute;left:188.25px;top:69.50px" class="cls_003"><span class="cls_003">ASO - Atestado de Saúde Ocupacional</span></div>
<div style="position:absolute;left:40.50px;top:86.25px" class="cls_004"><span class="cls_004">Em cumprimento a NR7 (Portaria 3214/78 do Mtb e Portaria 24/94 da SSST), que regulamenta o art. 168 da consolidação das Leis Trabalhistas,</span></div>
<div style="position:absolute;left:44.25px;top:98.25px" class="cls_004"><span class="cls_004">atesto que o trabalhador abaixo identificado foi examinado e submetido aos procedimentos e exames complementares abaixo mencionados.</span></div>
<div style="position:absolute;left:48.75px;top:113.75px" class="cls_002"><span class="cls_002">ADMISSIONAL</span></div>
<div style="position:absolute;left:312.75px;top:113.75px" class="cls_002"><span class="cls_002">PERIÓDICO</span></div>
<div style="position:absolute;left:447.00px;top:113.75px" class="cls_002"><span class="cls_002">RETORNO AO TRABALHO</span></div>
<div style="position:absolute;left:50.25px;top:128.75px" class="cls_002"><span class="cls_002">MUDANÇA DE FUNÇÃO</span></div>
<div style="position:absolute;left:312.75px;top:128.75px" class="cls_002"><span class="cls_002">DEMISSIONAL</span></div>
<div style="position:absolute;left:30.75px;top:143.75px" class="cls_002"><span class="cls_002">Empresa</span></div>
<div style="position:absolute;left:420.00px;top:143.75px" class="cls_002"><span class="cls_002">Grau de Risco</span></div>
<div style="position:absolute;left:483.00px;top:143.75px" class="cls_002"><span class="cls_002">CNPJ</span></div>
<div style="position:absolute;left:30.00px;top:155.25px" class="cls_004"><span class="cls_004">UNIVERSO PET COMERCIO DE PRODUTOS E SERVIÇOS VETERINÁRIOS S/A</span></div>
<div style="position:absolute;left:483.00px;top:155.25px" class="cls_004"><span class="cls_004">22.458.432/0001-83</span></div>
<div style="position:absolute;left:30.75px;top:166.25px" class="cls_002"><span class="cls_002">Funcionário</span></div>
<div style="position:absolute;left:30.00px;top:176.25px" class="cls_004"><span class="cls_004">GABRIEL ALEXANDRE MARTINS</span></div>
<div style="position:absolute;left:30.75px;top:186.50px" class="cls_002"><span class="cls_002">Setor</span></div>
<div style="position:absolute;left:288.75px;top:186.50px" class="cls_002"><span class="cls_002">Função</span></div>
<div style="position:absolute;left:29.25px;top:196.50px" class="cls_004"><span class="cls_004">FINANCEIRO/CONTABILIDADE/CONTAS A PAGAR</span></div>
<div style="position:absolute;left:288.00px;top:195.75px" class="cls_004"><span class="cls_004">AUXILIAR DE INFORMATICA</span></div>
<div style="position:absolute;left:30.75px;top:206.75px" class="cls_002"><span class="cls_002">Documento</span></div>
<div style="position:absolute;left:288.75px;top:206.75px" class="cls_002"><span class="cls_002">Dt.Nascimento</span></div>
<div style="position:absolute;left:420.75px;top:206.75px" class="cls_002"><span class="cls_002">Idade</span></div>
<div style="position:absolute;left:30.00px;top:216.75px" class="cls_004"><span class="cls_004">CPF: 079.149.793-33</span></div>
<div style="position:absolute;left:288.75px;top:216.75px" class="cls_004"><span class="cls_004">23/03/1998</span></div>
<div style="position:absolute;left:420.75px;top:216.75px" class="cls_004"><span class="cls_004">21 Anos</span></div>
<div style="position:absolute;left:30.75px;top:227.00px" class="cls_002"><span class="cls_002">Riscos ocupacionais específicos</span></div>
<div style="position:absolute;left:30.00px;top:244.50px" class="cls_004"><span class="cls_004">ERGONÔMICO: POSTURA</span></div>
<div style="position:absolute;left:30.75px;top:266.00px" class="cls_002"><span class="cls_002">Exames</span></div>
<div style="position:absolute;left:482.25px;top:266.00px" class="cls_002"><span class="cls_002">Data de realização</span></div>
<div style="position:absolute;left:30.00px;top:279.75px" class="cls_004"><span class="cls_004">AVALIAÇÃO CLÍNICA OCUPACIONAL</span></div>
<div style="position:absolute;left:484.50px;top:279.75px" class="cls_004"><span class="cls_004">____/____/________</span></div>
<div style="position:absolute;left:29.25px;top:671.00px" class="cls_002"><span class="cls_002">O funcionário acima, foi submetido(a) a exame médico, conforme a NR 07, sendo considerado:</span></div>
<div style="position:absolute;left:44.25px;top:686.75px" class="cls_002"><span class="cls_002">APTO</span></div>
<div style="position:absolute;left:122.25px;top:686.75px" class="cls_002"><span class="cls_002">INAPTO</span></div>
<div style="position:absolute;left:31.50px;top:701.00px" class="cls_002"><span class="cls_002">Carimbo e assinatura do médico Examinador</span></div>
<div style="position:absolute;left:394.50px;top:701.00px" class="cls_002"><span class="cls_002">Médico Coordenador</span></div>
<div style="position:absolute;left:102.75px;top:711.75px" class="cls_004"><span class="cls_004">DR. FERNANDO DIOGENES TEIXEIRA</span></div>
<div style="position:absolute;left:377.25px;top:711.75px" class="cls_004"><span class="cls_004">DR. MATEUS DE HOLANDA CARVALHO</span></div>
<div style="position:absolute;left:141.00px;top:720.75px" class="cls_004"><span class="cls_004">CRM: 2900 (CE)</span></div>
<div style="position:absolute;left:422.25px;top:720.75px" class="cls_004"><span class="cls_004">CRM: 8581 (CE)</span></div>
<div style="position:absolute;left:425.25px;top:729.75px" class="cls_004"><span class="cls_004">(00)0000-0000</span></div>
<div style="position:absolute;left:162.00px;top:740.25px" class="cls_005"><span class="cls_005">Médico Examinador:</span></div>
<div style="position:absolute;left:247.50px;top:740.25px" class="cls_004"><span class="cls_004">(85)3257-9257</span></div>
<div style="position:absolute;left:444.75px;top:740.50px" class="cls_006"><span class="cls_006">FVD</span></div>
<div style="position:absolute;left:31.50px;top:751.50px" class="cls_005"><span class="cls_005">Atenção</span></div>
<div style="position:absolute;left:102.00px;top:757.75px" class="cls_007"><span class="cls_007">Estou ciente do resultado do presente exame médico e recebi a 2ª VIA deste ASO.</span></div>
<div style="position:absolute;left:32.25px;top:772.00px" class="cls_007"><span class="cls_007">Local e data da LIBERAÇÃO do ASO</span></div>
<div style="position:absolute;left:382.50px;top:772.00px" class="cls_007"><span class="cls_007">Assinatura do(a) funcionário(a)</span></div>
<div style="position:absolute;left:31.50px;top:799.25px" class="cls_002"><span class="cls_002">FORTALEZA   ____/____/________</span></div>
</div>

</body>
</html>